# --- Clock and Reset ---
set_io CLK 28     
set_io RESET 23

# --- Restore the original LEDS so the compiler is happy ---
set_io LEDS[0] 39  # This is the RGB LED we want to blink!
set_io LEDS[1] 41
set_io LEDS[2] 40
set_io LEDS[3] 25
set_io LEDS[4] 26

# --- Dummy UART ---
set_io TXD 4
set_io RXD 3

# --- REAL SPI MASTER PINS ---
set_io SPI_SCLK 31
set_io SPI_MOSI 32
set_io SPI_MISO 34
set_io SPI_CS_N 35